**Task 3**

Registration id:- GO_STP_928

Name: - Tanushree Sharma

**1. Write a Python Program to sort (ascending and descending) a dictionary by value.**

In [ ]:
import operator
d = {1: 190, 7: 2000, 6: 300, 8: 4600, 5: 500}
print('Original dictionary : ',d)
sorted_d = sorted(d.items(), key=operator.itemgetter(1))
print('Dictionary in ascending order by value : ',sorted_d)
sorted_d = ( sorted(d.items(), key=operator.itemgetter(1),reverse=True))
print('Dictionary in descending order by value : ',sorted_d)

Original dictionary :  {1: 190, 7: 2000, 6: 300, 8: 4600, 5: 500}
Dictionary in ascending order by value :  [(1, 190), (6, 300), (5, 500), (7, 2000), (8, 4600)]
Dictionary in descending order by value :  [(8, 4600), (7, 2000), (5, 500), (6, 300), (1, 190)]

**2. Write a Python Program to add a key to a dictionary.**

**Sample Dictionary : {0: 10, 1: 20}**

**Expected Result : {0: 10, 1: 20, 2: 30}**

In [ ]:
dict = {0: 10, 1: 20}
print("Sample Dictionary : ",dict)
dict[2] = 30
print("Expected Result : ",dict)

Sample Dictionary :  {0: 10, 1: 20}
Expected Result :  {0: 10, 1: 20, 2: 30}

**3.  Write a  program asks for City name and Temperature and builds a dictionary using that Later on you can input City name and it will tell you the temperature of that City.**

In [ ]:
dict = {}
n=5
for i in range(n):
   n1, n2 = input("Enter the city name and temperature: ").split(",")
   dict[n1] = n2

x = input("Enter the City name for which temperature to be known: ")
print("The temperature of the city {} is {}".format(x,dict[x]))

Enter the city name and temperature: Hyderabad, 41
Enter the city name and temperature: Mumbai,39
Enter the city name and temperature: Bulendshahr, 44
Enter the city name and temperature: Delhi,45
Enter the city name and temperature: Chennai, 49
Enter the City name for which temperature to be known: Bulendshahr
The temperature of the city Bulendshahr is  44

**4.  Write a Python program to convert list to list of dictionaries.**

Sample lists: ["Black", "Red", "Maroon", "Yellow"], ["#000000", "#FF0000", "#800000", "#FFFF00"]

Expected Output: [{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

In [ ]:
color_name = ["Black", "Red", "Maroon", "Yellow"]
color_code = ["#000000", "#FF0000", "#800000", "#FFFF00"]
print([{'color_name': f, 'color_code': c} for f, c in zip(color_name, color_code)])

[{'color_name': 'Black', 'color_code': '#000000'}, {'color_name': 'Red', 'color_code': '#FF0000'}, {'color_name': 'Maroon', 'color_code': '#800000'}, {'color_name': 'Yellow', 'color_code': '#FFFF00'}]

**5. We have following information on Employees and their Salary (Salary is in lakhs),**

Employee==Salary

John	==  14
Smith	==  13
Alice	==  32
Daneil==  21

Using above create a dictionary of Employees and their Salary
Write a program that asks user for three type of inputs,
print: if user enter print then it should print all Employees with their Salary in this format,
John ==>14
Smith ==>13
Alice ==>32
Daneil ==>21
add: if user input adds then it should further ask for an Employee name to add. If Employee already exists in our dataset then it should print that it exists and do nothing. If it doesn't then it asks for Salary and add that new Employee/Salary in our dictionary and print it
remove: when user inputs remove it should ask for an Employee to remove. If an Employee exists in our dictionary then remove it and print a new dictionary using format shown above in (a). Else print that Employee doesn't exist!
query: on this again ask the user for which Employee he or she wants to query. When a user inputs that Employee it will print the Salary of that Employee.

In [ ]:
dict = {"John":14,"Smith":13,"Alice":32,"Daniel":21}
opt = input("Enter the operation to be performed: ")
if(opt=="print"):
  for i,j in dict.items():
      print("{} ==> {}".format(i,j))
elif(opt=="add"):
  name = input("Enter the name: ")
  salary = int(input("Enter the salary: "))
  if(name in dict):
    print("Employee already exist in the database")
  else:
    dict[name] = salary
  print(dict)
elif(opt=="remove"):
  name1 = input("Enter the name: ")
  if(name1 not in dict):
    print("Employee does not exist...")
  else:
    dict.pop(name1)
    print(dict)
elif(opt=="query"):
  name2 = input("Enter the name: ")
  if(name2 not in dict):
    print("Employee does not exist...")
  else:
    print("The salary of the employee {} is {} ".format(name2,dict[name2]))

Enter the operation to be performed: query
Enter the name: John
The salary of the employee John is 14

**1. What is the difference between a set and a frozenset? Create any set and try to use frozenset(setname).**

Ans The frozenset() returns an immutable frozenset object initialized with elements from the given iterable.

Frozen set is just an immutable version of python set object while elements of a set can be modified at any time, elements of the frozen set remains the same after creation.

In [ ]:
set= {1,3,5,7,10}
f= frozenset(set)
print(f'type of set : {type(set)}')
print(f'type of set : {type(f)}')

type of set : <class 'set'>
type of set : <class 'frozenset'>

**2. Find the elements in a given set that are not in another set**

    **set1 = {10,20,30,40,50}**

    **set2 = {40,50,60,70,80}**
 **Difference between set1 and set2 is {10,20,30}**

In [ ]:
set1 = {10,20,30,40,50}
set2 = {40,50,60,70,80}
print("Difference between set1 and set2 is",set1-set2)

Difference between set1 and set2 is {10, 20, 30}